<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Counter</h1>
    <p class="text-center text-success">{{session['count']}}</p>
    <div class=" d-flex justify-content-center">
        <form action="/process" method="post">
            <button class="btn btn-primary m-1">Click</button>
        </form>
        <form action="/add2" method="post">
            <button class="btn btn-info m-1">Add 2</button>
        </form>
        <form action="/destroy_session" method="post">
            <button class="btn btn-danger m-1">Reset</button>
        </form>
    </div>
    <form action="/add_user_input" method="post" class="text-center">
        <label for="user_input">Enter the value to add to counter:</label>
        <input type="text" name="add_value" id="user_input">
        <button class="btn btn-dark m-1">Add</button>
    </form>
    <h4 class="text-center text-danger">Actual number of visits = {{session['visit']}}</h4>
</body>
</html>